[submodule "themes/hugo-universal-theme"]
	path = themes/hugo-universal-theme
	url = https://github.com/devcows/hugo-universal-theme
[submodule "themes/relearn"]
	path = themes/relearn
	url = https://github.com/McShelby/hugo-theme-relearn.git
